<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>PEL(Respirable Fraction)</string>
		<key>formula</key>
		<string>PEL(Respirable Fraction) = 10/(%Qrtz + (%crist * 2) + (%trid * 2) + 2)</string>
		<key>number</key>
		<string>3</string>
		<key>variable1</key>
		<string>%qrtz</string>
		<key>variable2</key>
		<string>%crist</string>
		<key>variable3</key>
		<string>%trid</string>
		<key>unit1</key>
		<string>%</string>
		<key>unit2</key>
		<string>%</string>
		<key>unit3</key>
		<string>%</string>
		<key>resultUnit</key>
		<string>PEL</string>
		<key>method</key>
		<string>silica:Respirable:Fraction:</string>
		<key>imageName</key>
		<string>PEL(Respirable Fraction).png</string>
		<key>imageNameIpad</key>
		<string>PEL(Respirable Fraction)_iPad.png</string>		
	</dict>
	<dict>
		<key>name</key>
		<string>PEL(Total Dust)</string>
		<key>formula</key>
		<string>PEL(Total Dust) = 30/(%Quartz + (%crist * 2) + (%trid * 2) + 2)</string>
		<key>number</key>
		<string>3</string>
		<key>variable1</key>
		<string>%qrtz</string>
		<key>variable2</key>
		<string>%crist</string>
		<key>variable3</key>
		<string>%trid</string>
		<key>unit1</key>
		<string>%</string>
		<key>unit2</key>
		<string>%</string>
		<key>unit3</key>
		<string>%</string>
		<key>resultUnit</key>
		<string>PEL</string>
		<key>method</key>
		<string>silica:Total:Dust:</string>
		<key>imageName</key>
		<string>PEL(Total Dust).png</string>
		<key>imageNameIpad</key>
		<string>PEL(Total Dust)_iPad.png</string>			
	</dict>
	<dict>
		<key>name</key>
		<string>OEL of mixture - Airborne Concentration</string>
		<key>formula</key>
		<string>OELmix = (c1/OEL1)+ (C2/OEL2) +... + (Cn/OELn)</string>
		<key>number</key>
		<string>4</string>
		<key>variable1</key>
		<string>C1</string>
		<key>variable2</key>
		<string>OEL1</string>
		<key>variable3</key>
		<string>C2</string>
		<key>variable4</key>
		<string>OEL2</string>
		<key>unit1</key>
		<string>ppm</string>
		<key>unit2</key>
		<string>ppm</string>
		<key>unit3</key>
		<string>ppm</string>
		<key>unit4</key>
		<string>ppm</string>
		<key>resultUnit</key>
		<string>ppm</string>
		<key>method</key>
		<string>OEL:of:Mixture:MultiVar:</string>
		<key>imageName</key>
		<string>OELmix.png</string>
		<key>imageNameIpad</key>
		<string>OELmix.png_iPad.png</string>				
	</dict>
</array>
</plist>
