<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>1</string>
		<key>formula</key>
		<string>1 m3/s = 2120 ft3/min = 16.4 cm3/s</string>
		<key>imageName</key>
		<string>flow rate 1.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>2</string>
		<key>formula</key>
		<string>1 ft3/hr = .47 L/min</string>
		<key>imageName</key>
		<string>flow rate 2.png</string>
	</dict>
</array>
</plist>
