<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Wet Bulb Globe Temperature Outdoor</string>
		<key>formula</key>
		<string>WBGT = 0.7tawb + 0.2tg + 0.11tdb</string>
		<key>number</key>
		<string>3</string>
		<key>variable1</key>
		<string>tawb</string>
		<key>variable2</key>
		<string>tg</string>
		<key>variable3</key>
		<string>tdb</string>
		<key>variable4</key>
		<string></string>
		<key>unit1</key>
		<string>Degrees F </string>
		<key>unit2</key>
		<string>Degrees F</string>
		<key>unit3</key>
		<string>Degrees F</string>
		<key>unit4</key>
		<string></string>
		<key>resultUnit</key>
		<string>Degrees F</string>
		<key>method</key>
		<string>wetBulb:GlobeTemp:Outdoors:</string>
		<key>imageName</key>
		<string>WBGT_Outdoor.PNG</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Wet Bulb Globe Temperature Indoor</string>
		<key>formula</key>
		<string>WBGT = 0.7tawb + 0.3tg </string>
		<key>number</key>
		<string>2</string>
		<key>variable1</key>
		<string>tawb</string>
		<key>variable2</key>
		<string>tg</string>
		<key>variable3</key>
		<string></string>
		<key>variable4</key>
		<string></string>
		<key>unit1</key>
		<string>Degrees F </string>
		<key>unit2</key>
		<string>Degrees F </string>
		<key>unit3</key>
		<string></string>
		<key>unit4</key>
		<string></string>
		<key>resultUnit</key>
		<string>Degrees F</string>
		<key>method</key>
		<string>WetBulb:GlobeTempIndoors:</string>
		<key>imageName</key>
		<string>WBGT_Indoor.PNG</string>
	</dict>
	<dict>
		<key>name</key>
		<string>OSHA Permissible Heat Exposure Threshold Limit Value Table</string>
		<key>formula</key>
		<string>OSHA Permissible Heat Exposure TLV Table</string>
		<key>number</key>
		<string>0</string>
		<key>variable1</key>
		<string></string>
		<key>variable2</key>
		<string></string>
		<key>variable3</key>
		<string></string>
		<key>variable4</key>
		<string></string>
		<key>unit1</key>
		<string></string>
		<key>unit2</key>
		<string></string>
		<key>unit3</key>
		<string></string>
		<key>unit4</key>
		<string></string>
		<key>resultUnit</key>
		<string></string>
		<key>method</key>
		<string></string>
	</dict>
</array>
</plist>
