<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Adding Sound pressure levels</string>
		<key>formula</key>
		<string>SPLt = 10log((N summation to i 10 SPLi/10))</string>
		<key>number</key>
		<string>2</string>
		<key>variable1</key>
		<string>N</string>
		<key>variable2</key>
		<string>SPLi</string>
		<key>unit1</key>
		<string>decibels</string>
		<key>unit2</key>
		<string>decibels</string>
		<key>resultUnit</key>
		<string>decibels</string>
		<key>method</key>
		<string>adding:SoundPressureLevels:</string>
		<key>imageName</key>
		<string>AddingSoundPressure.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Time Allowed</string>
		<key>formula</key>
		<string>T = 8/(2^((L-85)/3))</string>
		<key>number</key>
		<string>1</string>
		<key>variable1</key>
		<string>L</string>
		<key>unit1</key>
		<string>decibels</string>
		<key>resultUnit</key>
		<string>hours</string>
		<key>method</key>
		<string>eightHourTWSof85dBa:</string>
		<key>imageName</key>
		<string>85dBA reached.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Inverse Square Law</string>
		<key>formula</key>
		<string>I2 = I1((d1/d2)^2)</string>
		<key>number</key>
		<string>3</string>
		<key>variable1</key>
		<string>I1</string>
		<key>variable2</key>
		<string>d1</string>
		<key>variable3</key>
		<string>d2</string>
		<key>unit1</key>
		<string>m/R</string>
		<key>unit2</key>
		<string>feet</string>
		<key>unit3</key>
		<string>feet</string>
		<key>resultUnit</key>
		<string>m/R</string>
		<key>method</key>
		<string>inverse:Square:Law:</string>
		<key>imageName</key>
		<string>Inverse Square Law.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Convert %D to TWA</string>
		<key>formula</key>
		<string>TWAeq = 16.61log(%D/100)+90dBA</string>
		<key>number</key>
		<string>1</string>
		<key>variable1</key>
		<string>percent Dose</string>
		<key>unit1</key>
		<string>%</string>
		<key>resultUnit</key>
		<string>decibels</string>
		<key>method</key>
		<string>percentDosetoTWA:</string>
		<key>imageName</key>
		<string>TWA from %Dose.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>AllowableExposureTime</string>
		<key>formula</key>
		<string>T=(8/(2*(SPL-90)/5))</string>
		<key>number</key>
		<string>1</string>
		<key>variable1</key>
		<string>SPL</string>
		<key>unit1</key>
		<string>decibels</string>
		<key>resultUnit</key>
		<string>Hours</string>
		<key>method</key>
		<string>allowableExposureTime:</string>
		<key>imageName</key>
		<string>AllowableExposureTime.png</string>
	</dict>
</array>
</plist>
