<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Oxygen Deficiency Calculation</string>
		<key>formula</key>
		<string>(liters of cryogen)*(103 cm/liter)*(density of inert gas)*(1 mole/MW of gas)*(24.25 liters/mole)*(1 ft3/28.31 liters)</string>
		<key>number</key>
		<string>4</string>
		<key>variable1</key>
		<string>gas volume</string>
		<key>variable2</key>
		<string>gas density</string>
		<key>variable3</key>
		<string>gas MW</string>
		<key>variable4</key>
		<string>roomVolume</string>
		<key>unit1</key>
		<string>liters</string>
		<key>unit2</key>
		<string>grams/cm3</string>
		<key>unit3</key>
		<string>grams</string>
		<key>unit4</key>
		<string>feet3</string>
		<key>resultUnit</key>
		<string>%</string>
		<key>method</key>
		<string>oxygen:Deficiency:Formula:One:</string>
		<key>imageName</key>
		<string>Oxygen Level of Room.png</string>
		<key>imageNameIpad</key>
		<string>Oxygen Level of Room_iPad.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Room air changes per hour</string>
		<key>formula</key>
		<string>Nchanges = 60Q/Vroom</string>
		<key>number</key>
		<string>2</string>
		<key>variable1</key>
		<string>Q</string>
		<key>variable2</key>
		<string>volume</string>
		<key>unit1</key>
		<string>cfm</string>
		<key>unit2</key>
		<string>feet3</string>
		<key>method</key>
		<string>roomAirChanges:PerHour:</string>
		<key>resultUnit</key>
		<string>AC/hr</string>
		<key>imageName</key>
		<string>Room Air changes per hour.png</string>
		<key>imageNameIpad</key>
		<string>Room Air changes per hour_iPad.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Pressures</string>
		<key>formula</key>
		<string>TP = VP+SP</string>
		<key>number</key>
		<string>2</string>
		<key>variable1</key>
		<string>VP</string>
		<key>variable2</key>
		<string>SP</string>
		<key>unit1</key>
		<string> </string>
		<key>unit2</key>
		<string> </string>
		<key>method</key>
		<string>total:Pressure:</string>
		<key>resultUnit</key>
		<string> </string>
		<key>imageName</key>
		<string>Total Pressure.png</string>
		<key>imageNameIpad</key>
		<string>Total Pressure_iPad.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Changes in temperature and pressure for sample pump</string>
		<key>formula</key>
		<string>Qcorrected = Qindicated*Sqrt((Pc*Ts)/(Ps*Tc))</string>
		<key>number</key>
		<string>5</string>
		<key>variable1</key>
		<string>Qind</string>
		<key>variable2</key>
		<string>Pc</string>
		<key>variable3</key>
		<string>Ts</string>
		<key>variable4</key>
		<string>Ps</string>
		<key>variable5</key>
		<string>Tc</string>
		<key>unit1</key>
		<string>L/min</string>
		<key>unit2</key>
		<string>kPa</string>
		<key>unit3</key>
		<string>kPa</string>
		<key>unit4</key>
		<string>degrees K</string>
		<key>unit5</key>
		<string>degrees K</string>
		<key>method</key>
		<string>flow:Rate:Adjustment:Formula:One:</string>
		<key>resultUnit</key>
		<string>L/min</string>
		<key>imageName</key>
		<string>Flow rate adjustment.png</string>
		<key>imageNameIpad</key>
		<string>Flow rate adjustment_iPad.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>velocity</string>
		<key>formula</key>
		<string>4005 * sqrt(VP)</string>
		<key>number</key>
		<string>1</string>
		<key>variable1</key>
		<string>VP</string>
		<key>unit1</key>
		<string>in. WC</string>
		<key>method</key>
		<string>velocity:</string>
		<key>resultUnit</key>
		<string>feet/min</string>
		<key>imageName</key>
		<string>velocity.png</string>
		<key>imageNameIpad</key>
		<string>velocity_iPad.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hood Static Pressure</string>
		<key>formula</key>
		<string>|SPh| = VPd + he</string>
		<key>number</key>
		<string>2</string>
		<key>variable1</key>
		<string>VPd</string>
		<key>variable2</key>
		<string>he</string>
		<key>unit1</key>
		<string>in. WC</string>
		<key>unit2</key>
		<string>in. WC</string>
		<key>method</key>
		<string>hood:StaticPressure:</string>
		<key>resultUnit</key>
		<string>in. WC</string>
		<key>imageName</key>
		<string>HoodStaticPressure.png</string>
		<key>imageNameIpad</key>
		<string>HoodStaticPressure_iPad.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dilution Ventilation Based On Room Air Changes</string>
		<key>formula</key>
		<string>C = (G/Q) * (1-e^ -(N * (t/60)) * 10^6</string>
		<key>number</key>
		<string>4</string>
		<key>variable1</key>
		<string>G</string>
		<key>variable2</key>
		<string>Q</string>
		<key>variable3</key>
		<string>t</string>
		<key>variable4</key>
		<string>N</string>
		<key>unit1</key>
		<string>cfm</string>
		<key>unit2</key>
		<string>cfm</string>
		<key>unit3</key>
		<string>minutes</string>
		<key>unit4</key>
		<string>changes/hour</string>
		<key>method</key>
		<string>dilution:Ventilation:BasedOn:RoomAirChanges:</string>
		<key>resultUnit</key>
		<string>ppm</string>
		<key>imageName</key>
		<string>dilutionVentilation.png</string>
		<key>imageNameIpad</key>
		<string>dilutionVentilation_iPad.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dilution to Control Evaporation</string>
		<key>formula</key>
		<string>Q = (403*SG*ER*K*10^6) / (MW * C)</string>
		<key>number</key>
		<string>5</string>
		<key>variable1</key>
		<string>SG</string>
		<key>variable2</key>
		<string>ER</string>
		<key>variable3</key>
		<string>K</string>
		<key>variable4</key>
		<string>MW</string>
		<key>variable5</key>
		<string>C</string>
		<key>unit1</key>
		<string> </string>
		<key>unit2</key>
		<string>pints/min</string>
		<key>unit3</key>
		<string> </string>
		<key>unit4</key>
		<string>g</string>
		<key>unit5</key>
		<string>ppm</string>
		<key>method</key>
		<string>dilution:To:Control:Evaporation:Formula:</string>
		<key>resultUnit</key>
		<string>feet3/min</string>
		<key>imageName</key>
		<string>dilutionToControlEvaporation.png</string>
		<key>imageNameIpad</key>
		<string>dilutionToControlEvaporation_iPad.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Fan Laws</string>
		<key>formula</key>
		<string>FSP = SPout - SPin - VPin</string>
		<key>number</key>
		<string>3</string>
		<key>variable1</key>
		<string>SPout</string>
		<key>variable2</key>
		<string>SPin</string>
		<key>variable3</key>
		<string>VPin</string>
		<key>unit1</key>
		<string>in. WC</string>
		<key>unit2</key>
		<string>in. WC</string>
		<key>unit3</key>
		<string>in. WC</string>
		<key>resultUnit</key>
		<string>in. WC</string>
		<key>method</key>
		<string>fan:Laws:Formula:</string>
		<key>imageName</key>
		<string>fanLaws.png</string>
		<key>imageNameIpad</key>
		<string>fanLaws_iPad.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Fan Total Pressure</string>
		<key>formula</key>
		<string>FTP = TPout - TPin</string>
		<key>number</key>
		<string>2</string>
		<key>variable1</key>
		<string>TPout</string>
		<key>variable2</key>
		<string>TPin</string>
		<key>unit1</key>
		<string>in. WC</string>
		<key>unit2</key>
		<string>in. WC</string>
		<key>resultUnit</key>
		<string>in. WC</string>
		<key>method</key>
		<string>fan:TotalPressure:</string>
		<key>imageName</key>
		<string>fanTotalPressure.png</string>
		<key>imageNameIpad</key>
		<string>fanTotalPressure_iPad.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Fan Laws</string>
		<key>formula</key>
		<string>Q2 = (Q1 * (size2/size1)^3 * (RPM2/RPM1))</string>
		<key>number</key>
		<string>5</string>
		<key>variable1</key>
		<string>Q1</string>
		<key>variable2</key>
		<string>size1</string>
		<key>variable3</key>
		<string>size2</string>
		<key>variable4</key>
		<string>RPM1</string>
		<key>variable5</key>
		<string>RPM2</string>
		<key>unit1</key>
		<string>cfm</string>
		<key>unit2</key>
		<string>inches</string>
		<key>unit3</key>
		<string>inches</string>
		<key>unit4</key>
		<string>rpm</string>
		<key>unit5</key>
		<string>rpm</string>
		<key>resultUnit</key>
		<string>cfm</string>
		<key>method</key>
		<string>fan:Laws:Formula:Five:Var:</string>
		<key>imageName</key>
		<string>fanLaws2.png</string>
		<key>imageNameIpad</key>
		<string>fanLaws2_iPad.png</string>
	</dict>
</array>
</plist>
