<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Oxygen Deficiency Calculation</string>
		<key>formula</key>
		<string>(liters of cryogen)*(103 cm/liter)*(density of inert gas)*(1 mole/MW of gas)*(24.25 liters/mole)*(1 ft3/28.31 liters)</string>
		<key>number</key>
		<string>4</string>
		<key>variable1</key>
		<string>cryogen</string>
		<key>variable2</key>
		<string>density</string>
		<key>variable3</key>
		<string>MW</string>
		<key>variable4</key>
		<string>roomVolume</string>
		<key>unit1</key>
		<string>L</string>
		<key>unit2</key>
		<string>g/cm^3</string>
		<key>unit3</key>
		<string>g</string>
		<key>unit4</key>
		<string>ft^3</string>
		<key>resultUnit</key>
		<string>%</string>
		<key>method</key>
		<string>oxygen:Deficiency:Formula:One:</string>
		<key>imageName</key>
		<string>Oxygen Level of Room.PNG</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Room air changes per hour</string>
		<key>formula</key>
		<string>Nchanges = 60Q/Vroom</string>
		<key>number</key>
		<string>2</string>
		<key>variable1</key>
		<string>Q</string>
		<key>variable2</key>
		<string>V</string>
		<key>unit1</key>
		<string>cfm</string>
		<key>unit2</key>
		<string>ft^3</string>
		<key>method</key>
		<string>roomAirChanges:PerHour:</string>
		<key>resultUnit</key>
		<string></string>
		<key>imageName</key>
		<string>Room Air changes per hour.PNG</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Pressures</string>
		<key>formula</key>
		<string>TP = VP+SP</string>
		<key>number</key>
		<string>2</string>
		<key>variable1</key>
		<string>VP</string>
		<key>variable2</key>
		<string>SP</string>
		<key>unit1</key>
		<string></string>
		<key>unit2</key>
		<string></string>
		<key>method</key>
		<string>total:Pressure:</string>
		<key>resultUnit</key>
		<string></string>
		<key>imageName</key>
		<string>Total Pressure.PNG</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Changes in temperature and pressure for sample pump</string>
		<key>formula</key>
		<string>Qcorrected = Qindicated*Sqrt((Pc*Ts)/(Ps*Tc))</string>
		<key>number</key>
		<string>5</string>
		<key>variable1</key>
		<string>Qind</string>
		<key>variable2</key>
		<string>Pc</string>
		<key>variable3</key>
		<string>Ts</string>
		<key>variable4</key>
		<string>Ps</string>
		<key>variable5</key>
		<string>Tc</string>
		<key>unit1</key>
		<string>L/min</string>
		<key>unit2</key>
		<string>kPa</string>
		<key>unit3</key>
		<string>kPa</string>
		<key>unit4</key>
		<string>deg K</string>
		<key>unit5</key>
		<string>deg K</string>
		<key>method</key>
		<string>flow:Rate:Adjustment:Formula:One:</string>
		<key>resultUnit</key>
		<string>L/min</string>
		<key>imageName</key>
		<string>Flow rate adjustment.PNG</string>
	</dict>
</array>
</plist>
